<div class = "list-group-item">
<p><%= @question %></p>
<p><%= "- You" %></p>
</div>


<div class = "list-group-item list-group-item-warning">
<p><%= @answer %></p>
<p><%= "- Your Coach" %></p>
</div>


<%= link_to "Ask a new question", ask_path %>
